<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <h1>IoT with Node, Node Red, and Android on Heroku</h1>
    <p>Using a Android phone as a method to check whether someone has gotten up in the morning.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
        <h1>My App</h1>
        <p>My IoT application utilizes the sensor on my android phone to identify whether or no someone has gotten up and is moving around during the morning. The application sets the IoT start andriod app to red if it hasn't moved in the past 5 minutes between the specified time. In my case between 8:00 and 9:00 am. It also notifies a server through an API call that person is sleeping in. This simply sets the status to sleeping in. In the future I'd use it to trigger a "wake up" event. In the case of the Smart Condo it might include a light out side the condo that goes on to notify people the tenant is not moving. For my own personal interest it reactivate my alarm clock and turn on the lights in the house.</p>
    </div>
    <div class="col-md-12">
      <h3>Step 1 </h3>
      <p>Follow the <a href="https://www.ibm.com/developerworks/library/iot-mobile-phone-iot-device-bluemix-apps-trs/" target="_blank">IBM iot setup</a> until reaching section 5.5 </p>
    </div>
    <div class="col-md-12">
      <h3>Step 2 </h3>
      <p>insert the following using cntr + i</p>
      <p>[{"id":"49985a7e.32e674","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"","eventType":"accel","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":"","qos":"0","x":140,"y":900,"wires":[["eb4c0af4.be5b38"]]},{"id":"348563a6.88a83c","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"1234","deviceType":"Android","eventCommandType":"text","format":"json","data":"{\"d\":{\"value\":\"text\"}}","qos":"","name":"IBM IoT App Out","service":"registered","x":1570,"y":940,"wires":[]},{"id":"2069d962.927706","type":"function","z":"deb0d57.1c46528","name":"ismoving","func":"var accelZ = msg.payload.d.acceleration_z;\nvar accelX = msg.payload.d.acceleration_x;\nvar accelY = msg.payload.d.acceleration_y;\n\nif (accelZ > 10 || accelX > 1 || accelY > 1) {\n    msg.payload.d.isMoving = 1;\n\treturn msg;\n} else {\n    msg.payload.d.isMoving = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":940,"wires":[["9677603f.c0634"]]},{"id":"9677603f.c0634","type":"switch","z":"deb0d57.1c46528","name":"isMoving","property":"payload.d.isMoving","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":840,"y":940,"wires":[["a5673b86.d79928"],[]]},{"id":"a71e9f6.3c6976","type":"function","z":"deb0d57.1c46528","name":"red","func":"\nvar r = 0.0;\nvar b = 0.0;\nvar g = 0.0;\nr = 255.0;\na = 1.0;\n\nmsg.eventOrCommandType = \"color\";\nmsg.payload = JSON.stringify({\"d\":{\"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":980,"wires":[["348563a6.88a83c"]]},{"id":"eb4c0af4.be5b38","type":"function","z":"deb0d57.1c46528","name":"is morning","func":"var date  = new Date(msg.payload.d.timestamp);\nvar wakeupstart = new Date(msg.payload.d.timestamp);\nvar wakeupend = new Date(msg.payload.d.timestamp);\nvar wakeuptime = 9;\nvar wakeupduration = 1;\nmsg.payload.d.hour = date.getHours(); \nwakeupstart.setHours(wakeuptime);\nwakeupend.setHours(wakeuptime + wakeupduration);\n\nif (date < wakeupstart){\n    msg.payload.d.time = 0;\n} else if (date > wakeupend){\n    msg.payload.d.time = 2;\n} else {\n    msg.payload.d.time = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["518d9efd.e5d0f","abc76623.5b1718"]]},{"id":"518d9efd.e5d0f","type":"switch","z":"deb0d57.1c46528","name":"is morning","property":"payload.d.time","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":3,"x":490,"y":940,"wires":[["32370c13.407314"],["2069d962.927706"],["9363be75.28e55"]]},{"id":"abc76623.5b1718","type":"debug","z":"deb0d57.1c46528","name":"morning","active":false,"console":"false","complete":"payload.d","x":540,"y":780,"wires":[]},{"id":"cc4232f3.075f3","type":"http request","z":"deb0d57.1c46528","name":"","method":"POST","ret":"txt","url":"https://morning-lake-11189.herokuapp.com/sleepingIn","tls":"","x":1190,"y":980,"wires":[["a71e9f6.3c6976"]]},{"id":"a5673b86.d79928","type":"trigger","z":"deb0d57.1c46528","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"units":"min","reset":"","name":"moved in 5","x":1010,"y":980,"wires":[["cc4232f3.075f3"]]},{"id":"7a98ee50.020b8","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 1 * * *","once":false,"x":230,"y":1200,"wires":[["5127599c.5fc438","d74153eb.33ad6"]]},{"id":"5127599c.5fc438","type":"http request","z":"deb0d57.1c46528","name":"newDay","method":"POST","ret":"txt","url":"https://morning-lake-11189.herokuapp.com/sleep","tls":"","x":396,"y":1211,"wires":[[]]},{"id":"d74153eb.33ad6","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"console":"false","complete":"payload","x":406,"y":1149,"wires":[]},{"id":"1e8f305.479dfd","type":"function","z":"deb0d57.1c46528","name":"yellow","func":"var r = 0.0;\nvar b = 0.0;\nvar g = 0.0;\ng = 255.0;\nr = 255.0;\na = 1.0;\n\nmsg.eventOrCommandType = \"color\";\nmsg.payload = JSON.stringify({\"d\":{\"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":860,"wires":[["348563a6.88a83c"]]},{"id":"7bcfa332.49d30c","type":"http request","z":"deb0d57.1c46528","name":"","method":"POST","ret":"txt","url":"https://morning-lake-11189.herokuapp.com/newday","tls":"","x":1090,"y":860,"wires":[["1e8f305.479dfd"]]},{"id":"32370c13.407314","type":"delay","z":"deb0d57.1c46528","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"days","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":693,"y":867,"wires":[["7bcfa332.49d30c"]]},{"id":"9363be75.28e55","type":"delay","z":"deb0d57.1c46528","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"days","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":1060,"wires":[["c83aa7a5.e64da8"]]},{"id":"c83aa7a5.e64da8","type":"http request","z":"deb0d57.1c46528","name":"","method":"POST","ret":"txt","url":"https://morning-lake-11189.herokuapp.com/newday","tls":"","x":1150,"y":1060,"wires":[["7301ec5e.5d6f04"]]},{"id":"7301ec5e.5d6f04","type":"function","z":"deb0d57.1c46528","name":"yellow","func":"var r = 0.0;\nvar b = 0.0;\nvar g = 0.0;\ng = 255.0;\nr = 255.0;\na = 1.0;\n\nmsg.eventOrCommandType = \"color\";\nmsg.payload = JSON.stringify({\"d\":{\"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1060,"wires":[["348563a6.88a83c"]]}]
      </p>
      <p>It should like the image below.</p>
      <img src="IoT.JPG">
      <p>The IBM IoT App in is the android device connected to the node red application. It first checks if the message is coming before the user needs to be up, if the message is from when the user should be moving, or sufficently later in the day. If it is outside the "wake up" hours the app sends a single message to the server letting it know the wake up time is not active, and sends a yellow stand by to the phone. If it is in the wake up time the app checks if the user is moving. If they do not move in 5 minutes the app will notify my server and send a red colour back to the android device.</p>
      <p>The timestamp input is an injection that fires every morning at 1:00 am to reset the server for the day.</p>
    </div>
    <div class="col-md-12">
        <h3>Step 3 </h3>
        <p>My server code can be downloaded from <a href="https://github.com/dbsigurd/660">here</a>. The instructions for setting up your own server are in the read me. You'll need to follow the heroku getting started guide and install the heroku CLI. </p>
    </div>
    <div class="col-md-12">
        <h2>Recap </h2>
        <p>We start by following IBM's guide for setting up an andriod phone as an IoT device. From there I created my own node red layout which resets the sleeping status of my server every morning at 1:00 am with an API call. In the morning during the wake up time the app needs to recieve sufficent movement data within the 5 minutes intervals or it sets the andriod phone screen to red, and submits a API notification to my server that the user is not up.</p>
    </div>

    <p>

    </p>

</div>


</body>
</html>
