<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <h1>IoT with Node, Node Red, and Android on Heroku</h1>
    <p>Using a Android phone as a method to check whether someone has gotten up in the morning.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Creating a smart alarm clock using IBM Node RED, Android, and a node server.</h3>

    </div>
</div>


</body>
</html>
